/* general */

p {
    color: white;
}

a:link.rightnav {
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:visited.rightnav {
    color: white;
}

a:hover.rightnav,
a:focus.rightnav {
    text-decoration: underline;
    text-decoration-color: #950C13;
    text-decoration-thickness: .3em;
}

a:active.rightnav {
    color: white;
}

body {
    background-color: #222222;
    font-family: "Montserrat", sans-serif;
    min-height: 100%;
}


/* END of general */


/* grid stuff */

.contain {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: auto auto auto auto auto;
}


/* END of grid stuff */


/* first nav bar */

.firstnavbar {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: black;
    display: flex;
    font-size: .6em;
    justify-content: space-between;
    align-items: center;
}

.leftnav {
    margin-right: auto;
}

.svglogo {
    width: 20%;
    height: 50px;
    margin: 0 auto;
    padding-top: 12px;
    margin-left: 10px;
}

.rightnav {
    justify-content: right;
    margin-left: 0.2rem
}

#logo {
    width: 50%;
    fill: white;
}


/* END of first nav bar */


/* hero */

.hero {
    background-image: url("../img/Redherobackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-top: 35px;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.hero-others {
    background-image: url("../img/Redherobackground-reverse.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-top: 34px;
    padding-bottom: 34px;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.others {
    font-style: italic;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin: -5px;
    color: white;
}

.hero-txt {
    font-size: .8em;
    font-weight: 300;
    font-style: italic;
}

.h1-others {
    align-items: center;
}

.aboutheader,
.serviceheader,
.contactheader {
    font-style: italic;
}


/* END of hero */


/* second nav bar */

.imgnav {
    margin-top: 20px;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    text-align: center;
    font-size: .7em;
    padding-bottom: 15px;
}

a:link.nav2 {
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:visited.nav2 {
    color: white;
}

a:hover.nav2,
a:focus.nav2 {
    color: #950C13;
}

a:active.nav2 {
    color: white;
    text-decoration-color: #950C13;
    text-decoration-thickness: .3em;
}


/* END of second nav bar*/


/* Featured section */

.featuredgallery {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 60px;
}

.featuredphoto {
    width: 30%;
}


/* carousel */

.wrapper {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    height: 200px;
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 200px;
}

.button-wrapper {
    grid-column: 1 / 4;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 auto;
}

.carousel {
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
    padding: 0px;
}

.card {
    background-image: url('../img/Trucks/redtruck.jpeg');
    background-size: cover;
    min-width: 100%;
    height: 200px;
    margin-right: .5rem;
    display: inline-block;
}


/* TRUCK picture section */

#card1T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card2T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card3T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card4T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card5T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card6T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card7T {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}


/* END Truck picture section */


/* SIGN picture section */

#card1S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card2S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card3S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card4S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card5S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card6S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card7S {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}


/* END Sign picture section */


/* CARD picture section */

#card1C {
    background-image: url('../img/Cards/GroverRookBusinessCard.jpg');
    background-size: cover;
}

#card2C {
    background-image: url('../img/Cards/DJChozen.jpg');
    background-size: cover;
}

#card3C {
    background-image: url('../img/Cards/BookCard.jpg');
    background-size: cover;
}

#card4C {
    background-image: url('../img/Cards/SeedCovenantSeedMinistriesFlierflat.jpg');
    background-size: cover;
}

#card5C {
    background-image: url('../img/Cards/RouteRunnersExpressBCJaQuezfront.jpg');
    background-size: cover;
}

#card6C {
    background-image: url('../img/Cards/communitymotors.jpg');
    background-size: cover;
}

#card7C {
    background-image: url('../img/Cards/WDCDPBC.jpg');
    background-size: cover;
}


/* END CARD picture Section */


/* FLYER picture section */

#card1F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card2F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card3F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card4F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card5F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card6F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}

#card7F {
    background-image: url('../img/Trucks/IMG_2948.JPG');
    background-size: cover;
}


/* END Truck picture section */


/* END of carousel */


/* about page */

.main {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: 45vh 45vh 30vh;
    overflow: scroll;
}

.wilbur {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: #222222;
    display: flex;
    align-items: center;
}

.wilbur-img {
    justify-content: left;
    width: 30%;
}

#WDpic {
    border-radius: 50%;
    width: 100%;
    padding-left: 10px;
}

.wilbur-txt {
    text-align: left;
    text-justify: right;
    width: 60%;
    font-size: .6em;
}

.charisma {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    background-color: #48474C;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.charisma-img {
    border-radius: 50%;
    width: 30%;
    justify-items: left;
    padding-right: 5px;
}

#charismapic {
    border-radius: 50%;
    width: 100%;
    padding-left: 10px;
}

.charisma-txt {
    text-align: right;
    width: 60%;
    padding: 10px;
    font-size: .6em;
}

.vision {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.vision-txt {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    color: white;
    padding: 5px;
    font-size: .6em;
}


/* END about page */


/* Services Page */

.serviceheader {
    grid-row: 3/ 4;
    grid-column: 1 / 4;
    padding-top: 25px;
    text-align: center;
}

.servicescontent {
    grid-row: 4/ 5;
    grid-column: 1 / 4;
}

.superlativesection {
    grid-row: 4/ 5;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    height: 100px;
}

#qualitybadge {
    width: 30%
}

.servicecards {
    grid-row: 4/ 5;
    grid-column: 1 / 4;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 90%;
    justify-content: center;
}

.servicecard {
    background-color: #48474c;
    margin: 10px;
    width: 350px;
}

.servicepicture {
    width: 100%
}

h1.cardheader {
    padding: 10px;
    font-weight: 300;
    font-size: 1.3em;
}

.cardtext {
    padding: 10px;
}


/* END Services Page*/


/* contact page stuff */

.contact-header {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    text-align: center;
    color: white;
}

legend {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-bottom: 10px;
}

.form-container {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

form {
    margin: 1em;
    padding: 20px;
    height: 45vh;
    background-color: #48474c;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    overflow: scroll;
}

fieldset {
    border: none;
}

input[type=text],
input[type=email],
textarea {
    width: 90%;
    height: 30%;
    padding: 20px;
    margin-bottom: 1.5em;
    border: 2px solid #950C13;
    border-radius: 5px;
}

label {
    color: white;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    border: 2px solid #5e0a0e;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    width: 90%;
    padding: 10px;
    margin-top: 1em;
    background: #950C13;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.socials {
    text-align: center;
    margin: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #950C13;
    color: white;
}

.fa-instagram {
    background: #950C13;
    color: white;
}

.fa-linkedin {
    background: #950C13;
    color: white;
}


/* END of contact page stuff */


/* footer */

.index-footer {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column: 1 / 4;
    background-color: #48474C;
    padding: 10px;
    text-align: left;
}

.footer {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column: 1 / 4;
    background-color: #48474C;
    padding: 10px;
    text-align: left;
}

.footer-txt {
    font-size: .65em;
}


/* END of footer */


/* media query 

add breakpoint at 500px for long header

*/

@media only screen and (min-width: 375px) {
    .firstnavbar {
        font-size: .8em;
    }
    .featuredgallery {
        padding-bottom: 210px;
    }
}

@media only screen and (min-width: 500px) {
    .hero {
        background-image: url("../img/LongRedherobackground.png");
    }
    .hero-others {
        background-image: url("../img/RRLongRedherobackground.png");
    }
    #logo {
        width: 30%;
    }
}

@media only screen and (min-width: 768px) {
    .firstnavbar {
        font-size: 1.2em;
    }
    .svglogo {
        width: 20%;
        height: 50px;
        margin: 0 auto;
        padding-top: 12px;
        margin-left: 10px;
    }
    h1 {
        font-size: 2em;
    }
    .others {
        font-size: 2.2em;
    }
    .hero-txt {
        font-size: 1.3em;
    }
    .others {
        padding: 30px 0px 30px 0px;
    }
    #logo {
        width: 25%;
    }
    .imgnav {
        font-size: 1.2em;
    }
    .featuredgallery {
        padding-bottom: 210px;
    }
    .wrapper {
        margin-bottom: 10%;
    }
    .index-footer {
        font-size: 1em;
    }
    .footer-txt {
        font-size: 1em;
    }
    .others {
        font-size: 1.5em;
    }
    .cbutton {
        margin-right: 550px;
    }
    .carousel {
        height: 100%;
    }
    .card {
        height: 100%;
    }
    .wilbur-txt {
        font-size: 1em;
    }
    .charisma-txt {
        font-size: 1em;
    }
    .vision-txt {
        font-size: 1em;
    }
    .serviceheader {
        padding-bottom: 20px;
    }
    .servicecards {
        padding: 35px;
    }
    .servicecard {
        width: 300px;
    }
    form {
        height: 52vh;
        width: 90%;
    }
}

@media only screen and (min-width: 777px) {
    .cbutton {
        margin-right: 310%;
    }
}

@media only screen and (min-width: 1024px) {
    .firstnavbar {
        font-size: 1em;
    }
    .svglogo {
        width: 20%;
        height: 50px;
        margin: 0 auto;
        padding-top: 12px;
        margin-left: 10px;
    }
    h1 {
        font-size: 2em;
    }
    .others {
        font-size: 2em;
    }
    .hero-txt {
        font-size: 1em;
    }
    .others {
        padding: 30px 0px 30px 0px;
    }
    #logo {
        width: 15%;
    }
    .imgnav {
        font-size: 1em;
    }
    .main {
        overflow-x: hidden;
    }
    .wilbur-img,
    .charisma-img {
        width: 20%;
    }
    .wilbur-img,
    .charisma-img {
        width: 40%;
    }
    #WDpic {
        padding-left: 60px;
        width: 50%;
    }
    #charismapic {
        width: 50%;
    }
    .wilbur-txt,
    .charisma-txt {
        font-size: 1.1em;
        padding-left: 10px;
    }
    .vision-txt {
        font-size: 1.1em;
    }
    .contact-header {
        font-size: 1.5em;
    }
    .form-container {
        height: 100vh;
    }
    form {
        width: 80%;
        height: 60%;
    }
    .socials {
        padding-bottom: 200px;
    }
    .footer-txt {
        font-size: 1.1em;
    }
    .index-footer {
        font-size: 1em;
    }
    .cbutton {
        margin-right: 315%;
    }
    .card {
        min-width: 50%;
    }
}


/* END of media query */